/*CSS Document */

body {
	font: 12px verdana, sans-serif;
	padding: 35px;
	background-color: #c0c0c0;
}

#wrapper {
	margin: 0 auto;
	padding-bottom: 25px;
	background: #fff;
	width: 700px;
	border-radius: 25px;
}

#menu {
	background-color: #fa5252;
	margin-top: -15px;
	border-radius: 25px 25px 0 0;
	padding: 5px;
}

#chatbox {
	text-align: left;
	margin: 0 auto;
	margin-bottom: 25px;
	padding: 10px;
	background: #fff;
	height: 420px;
	width: 450px;
	border: 1px solid #fff;
	overflow: auto;
}

.welcome {
	font: 17px verdana, sans-serif;
	color: #fff;
	text-align: center;
	padding: 10px;
}

input {
	background-color: #eeeeee;
	width: 400px;
	border: 1px solid #e6e3e3;
	padding: 10px;
	margin: 10px 0;
	border-radius: 4px;
}

textarea {
	background-color: #eeeeee;
	width: 400px;
	border: 1px solid #e6e3e3;
	padding: 5px;
	margin: 10px 0;
	border-radius: 4px;
}

button {
	background-color: #5d5f5d;
	border-radius: 4px;
	padding: 10px;
	margin: 5px 0;	
	color: #fff;
	border: none;
	width: 400px;
	font: 14px arial;
}





























	
	
	
	
	
	